/* 
  Inner elements
  ==============================================================================
*/

.logotype {
  height: var(--layout-navbar-height);
  background-color: rgba(255,255,255,.25);
}

.counter {
  text-align: center;
  font-size: var(--theme-size-h4);
}

.counter em {
  font-weight: bold;
  font-size: var(--theme-size-h2);
}

/* 
  How it works step
  ==============================================================================
*/

.step {
  width: 368px;
  text-align: center;
}

.step > *:not(:last-child) {
  margin-bottom: 16px;
}

.step img {
  width: 140px;
  height: 140px;
  display: block;
  margin: auto;
}

.step h1 {
  
}

.step p {
  font-size: 16px;
}

/* 
  Catch text on Banner section
  ==============================================================================
*/

.catch-text {
  --button-size: 46px;
}

.catch-text hgroup {
  margin-bottom: 40px;
}

.catch-text h1 {
  font-size: 62px;
  font-weight: 500;
  line-height: 1;
}

.catch-text h2 {
  line-height: 1;
}

.catch-text p {
  font-size: var(--theme-size-h3);
  text-transform: uppercase;
  line-height: 1.25;
  margin-bottom: 45px;
  font-weight: 300;
}

.catch-text button {
  height: var(--button-size);
  line-height: var(--button-size);
  border-radius: calc(var(--button-size) * 0.5);
  width: 200px;
  font-size: 1.25em;
  font-weight: 700;
  box-shadow: var(--theme-shadow-z2);
}

/* 
  Stylized interactive App preview
  ==============================================================================
*/

.app-preview {
  height: 527px;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  background-color: #e8e8e8;
  color: #fff;
  box-shadow: var(--theme-shadow-z3);
  --control-size: 16px;
}

.app-preview .frame {
  display: block;
  background-color: #e5e2e4;
  padding: 4px 40px;
  flex: 0 0 auto;
}

.app-preview .square {
  width: 60px;
  height: 60px;
  border-radius: 2px;
}

.app-preview .line {
  height: 12px;
  border-radius: 12px;
}

.app-preview .controls, .app-preview .controls:before, .app-preview .controls:after {
  display: block;
  width: var(--control-size);
  height: var(--control-size);
  border-radius: 50%;
}

.app-preview .controls {
  background-color: #ffbd2e;
  position: relative;
}

.controls:before, .app-preview .controls:after {
  content: "";
  position: absolute;
  top: 0;
}

.app-preview .controls:before {
  background-color: #ff5f58;
  left: calc((var(--control-size) + 8px) * -1);
}

.app-preview .controls:after {
  background-color: #2ac940;
  right: calc((var(--control-size) + 8px) * -1);
}

.app-preview .header {
  flex: 0 0 64px;
  background-color: #386ee9;
  padding: 6px 16px 0;
}

.app-preview .header b, .app-preview .header span {
  display: block;
}

.app-preview .header span {
  text-indent: 2px;
}

.app-preview .content {
  padding: 8px 16px;
  list-style-type: none;
  overflow-y: auto;
}

.app-preview .content span {
  display: block;
  background-color: rgba(0,0,0,.10);
  overflow: hidden;
}

.app-preview .content span.dark {
  background-color: rgba(0,0,0,.25);
}

.app-preview .content li {
  padding: 8px;
}

.app-preview .content li.fresh {
  background-color: #f9e594;
}

.app-preview .content .square {
  float: left;
  margin-right: 8px;
}

.app-preview .content .line {
  margin-bottom: 8px;
}

.app-preview .content .line.short {
  width: 60%;
}

/* 
  Feedback form controls
  ==============================================================================
*/

.lined-text-field {
  --input-height: 48px;
  display: flex;
  padding: 4px;
  height: 48px;
  border: 1px solid var(--theme-color-border);
  border-radius: calc(var(--input-height) * 0.5);
}

.lined-text-field input {
  flex: 1;
  line-height: calc(var(--input-height) - 12px);
  padding: 0 16px 0 calc(var(--input-height) * 0.5);
}

.lined-text-field button {
  --button-height: calc(var(--input-height) - 12px);
  height: var(--button-height);
  border-radius: calc(var(--button-height) * 0.5);
}

/* 
  Common layout
  ==============================================================================
*/

.page-section {
  position: relative;
}

.page-section:after, .page-section:before {
  display: block;
  content: '';
  width: 100%;
  height: 1px;
}

.page-section .page-heading {
  display: block;
  margin: 56px 0 80px;
  text-align: center;
}

.page-section .page-heading h1 {
  font-size: 52px;
  margin-bottom: 16px;
}

.page-section .page-heading h2 {
  font-weight: 300;
}

.page-section .layout {
  position: relative;
  /* width: var(--layout-desktop-width);
  margin: 0 auto; */
  display: grid;
  padding: 0 var(--layout-gap);
  grid-gap: var(--layout-gap);
  justify-content: center;	
  grid-template-columns: repeat(12, var(--layout-cell));
  color: inherit;
  z-index: 2;
}

.page-section .simple-flex {
  display: flex;
}

/* 
  Top Navigation pane
  ==============================================================================
*/

#top-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--layout-navbar-height);
  border-color: var(--theme-color-secondary);
  color: var(--theme-color-secondary);
  z-index: 10;
}


#top-nav .layout .logotype {
  grid-column: 1 / 4;
  width: 100%;
}

#top-nav .layout .buttons {
  grid-column: 9 / 13;
  align-self: center;
  justify-self: end;
}

#top-nav button {
  width: 120px;
  margin-left: var(--layout-gap);
}

#top-nav button.lined {
  color: inherit;
  border-color: inherit;
}

/* 
  01 Banner section
  ==============================================================================
*/

#banner {
  height: 100vh;
  background-color: var(--theme-color-accent);
  color: var(--theme-color-secondary);
}

#banner .layout {
  height: 100%;
  align-items: center;
}

#banner .layout .cell:first-child {
  grid-column: 1 / 9;
}

#banner .layout .cell:last-child {
  grid-column: 9 / 13;
}

#banner .bg {
  position: absolute;
  top: 1vh;
  left: 0;
  right: 0;
  width: 80%;
  margin: auto;
  fill: #3e8bc0;
  opacity: .75;
  z-index: 0;
}

/* 
  02 How it works section
  ==============================================================================
*/

#description {
  z-index: 2;
  background-color: var(--theme-color-secondary);
}

#description .bg {
  position: absolute;
  bottom: 100%;
  width: 100%;
  fill: var(--theme-color-secondary);
  transform: rotate(180deg);
}

#description .page-heading {
  margin: 56px auto 80px;
}

#description .layout {
  margin: 80px auto;
}

#description .layout .cell:nth-child(1) {
  grid-column: 1 / 5;
}

#description .layout .cell:nth-child(2) {
  grid-column: 5 / 9;
}

#description .layout .cell:nth-child(3) {
  grid-column: 9 / 12;
}

/* 
  03 Simple registration stripe
  ==============================================================================
*/

#ribbon {
  --btn-size: 52px;
  color: var(--theme-color-secondary);
  background-color: var(--theme-color-accent);
}

#ribbon .layout {
  margin: 24px auto;
  align-items: center;
}

#ribbon .layout .cell:first-child {
  grid-column: 4 / 8;
}

#ribbon .layout .cell:last-child {
  grid-column: 8 / 10;
}

#ribbon button {
  width: 100%;
  height: var(--btn-size);
  line-height: var(--btn-size);
  border-radius: calc(var(--btn-size) * 0.5)
}

#ribbon .adv {
  line-height: 1.25;
}

/* 
  04 Statistics section
  ==============================================================================
*/

#stats {
  padding-bottom: 100px;
}

#stats .layout {
  margin: 80px auto;
}

#stats .layout .cell:nth-child(1) {
  grid-column: 1 / 4;
}

#stats .layout .cell:nth-child(2) {
  grid-column: 4 / 7;
}

#stats .layout .cell:nth-child(3) {
  grid-column: 7 / 10;
}

#stats .layout .cell:nth-child(4) {
  grid-column: 10 / 13;
}

/* 
  05 Footer
  ==============================================================================
*/

#footer {
  z-index: 3;
  background-color: var(--theme-color-highlight);
  text-align: center;
}

#footer .bg {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  fill: var(--theme-color-highlight);
  transform: scaleY(0.5);
  transform-origin: bottom center;
}

#footer > *:not(svg) {
  width: calc(var(--layout-cell) * 7 + var(--layout-gap) * 6);
}

#footer h3 {
  margin: 50px auto 30px;
}

#footer form {
  margin: 30px auto 90px;
}

#footer form button {
  width: 104px;
}

#footer nav {
  margin: 30px auto;
}

#footer nav a {
  display: inline-block;
  margin: 0 8px;
}

#footer nav span {
  font-size: 1.25em;
}

#footer .copy {
  margin: 30px auto 16px;
  display: block;
}