<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, shrink-to-fit=no" />
</head>
<body>
  <div class="page-section" id="top-nav">
    <div class="layout">
      <a href="" class="logotype">
        <!-- SVG LOGO GOES HERE -->
      </a>
      <div class="buttons">
        <button class="lined" data-action="login">Sign in</button>
        <button class="solid">Sign up</button>
      </div>
    </div>
  </div>
  <header class="page-section" id="banner">
    <div class="layout">
      <div class="cell">
        <article class="catch-text">
          <hgroup>
            <h1><%= htmlWebpackPlugin.options.title %></h1>
            <h2>Enrich your website with a stream of trending content!</h2>
          </hgroup>
          <p>
            <%= htmlWebpackPlugin.options.title %> automatically looks for trending content on any topic you select and posts links to it on your website along with the title, description and thumbnail.  Automatically offer your readers an overview of the freshest and most trending content in your niche.
          </p>
          <button class="solid">Try it for free!</button>
        </article>
      </div>
      <div class="cell">
        <div class="app-preview">
          <div class="frame">
            <span class="controls"></span>
          </div>
          <div class="header">
            <b class="text-h4">My news site</b>
            <span>I post a lot of trendy stuff on daily basis</span>
          </div>
          <ul class="content" id="app-preview-content">
            <li class="fresh">
              <span class="square"></span>
              <span class="line dark"></span>
              <span class="line"></span>
              <span class="line short"></span>
            </li>
            <li>
              <span class="square"></span>
              <span class="line dark"></span>
              <span class="line"></span>
              <span class="line short"></span>
            </li>
            <li>
              <span class="square"></span>
              <span class="line dark"></span>
              <span class="line"></span>
              <span class="line short"></span>
            </li>
            <li>
              <span class="square"></span>
              <span class="line dark"></span>
              <span class="line"></span>
              <span class="line short"></span>
            </li>
            <li>
              <span class="square"></span>
              <span class="line dark"></span>
              <span class="line"></span>
              <span class="line short"></span>
            </li>
            <li>
              <span class="square"></span>
              <span class="line dark"></span>
              <span class="line"></span>
              <span class="line short"></span>
            </li>
            <li>
              <span class="square"></span>
              <span class="line dark"></span>
              <span class="line"></span>
              <span class="line short"></span>
            </li>
            <li>
              <span class="square"></span>
              <span class="line dark"></span>
              <span class="line"></span>
              <span class="line short"></span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <object class="bg" id="map" data="../img/map.svg#world" type="image/svg+xml" ></object>
  </header>
  <section class="page-section" id="description">
    <hgroup class="page-heading">
      <h1>How it works</h1>
      <h2>Utilizing unique algorithms in search of viral content</h2>
    </hgroup>
    <div class="layout">
      <div class="cell">
        <article class="step">
          <img src="../img/checklist.svg" alt="">
          <h1 class="text-h3">Pick topic, configure params</h1>
          <p>
            We allow you precisely configure outcome with “live” preview.
            And prognose estimate results.
          </p>
        </article>
      </div>
      <div class="cell">
        <article class="step">
          <img src="../img/customization.svg" alt="">
          <h1 class="text-h3">Our engine search for content</h1>
          <p>
            Our engine will constantly search 
            for a content matching your criterea, and deliver found asap.
          </p>
        </article>
      </div>
      <div class="cell">
        <article class="step">
          <img src="../img/responsive.svg" alt="">
          <h1 class="text-h3">We deliver our best results</h1>
          <p>
            We post found results to your site 
            in desired category. Also we provide detailed feedback and statistics 
            on “streams” created.
          </p>
        </article>
      </div>
    </div>
    <svg class="bg" viewBox="0 0 1000 100">
      <use xlink:href="../img/clouds_triple.svg#clouds" />
    </svg>
  </section>
  <section class="page-section" id="ribbon">
    <div class="layout">
      <div class="cell">
        <p class="adv text-h3">
          Simple registration<br/>
          <b>14-day</b> free trial period<br/>
          <b>9.99$</b>/month paid subscription
        </p>
      </div>
      <div class="cell">
        <button class="solid">Sign up now</button>
      </div>
    </div>
  </section>
  <section class="page-section" id="stats">
    <div class="layout">
      <div class="cell">
        <div class="counter">
          <em>742K</em>
          <p>Articles found</p>
        </div>
      </div>
      <div class="cell">
        <div class="counter">
          <em>1295</em>
          <p>Sources tracked</p>
        </div>
      </div>
      <div class="cell">
        <div class="counter">
          <em>12</em>
          <p>Articles per hour</p>
        </div>
      </div>
      <div class="cell">
        <div class="counter">
          <em>986</em>
          <p>Streams running</p>
        </div>
      </div>
    </div>
  </section>
  <footer class="page-section" id="footer">
    <h3>We will call/text you back</h3>
    <form action="" class="feedback">
      <div class="lined-text-field">
        <input type="text" name="contact" placeholder="your email or phone" id="contact">
        <button class="solid">Send</button>
      </div>
    </form>
    <nav>
      <span>Join us:</span>
      <a href="">Facebook</a>
      <a href="">Twitter</a>
      <a href="">Opensharecount</a>
      <a href="">Trendolizer pro</a>
      <a href="">Lead Strories</a>
      <a href="">Slack</a>
    </nav>
    <small class="copy">Trendolizer and LeadStories LLC 2018 &copy; - All rights reserved.</small>
    <svg class="bg" viewBox="0 0 1000 100">
      <use xlink:href="../img/clouds.svg#clouds" />
    </svg>
  </footer>
  <div class="layover" id="layover"></div>
  <section class="modal" id="form-sign-in">
    <header>
      <h1>Welcome, log-in please</h1>
      <button>
        <svg width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
          <path d="M0 0h24v24H0z" fill="none"/>
        </svg>
      </button>
    </header>
    <form class="content">
      <div class="row" data-action="error"></div>
      <div class="row">
        <div class="input-text">
          <input type="email" name="email" value="" id="email" placeholder="Your email" />
        </div>
      </div>
      <div class="row">
        <div class="input-text">
          <input type="password" name="password" value="" id="password" placeholder="Your password" />
        </div>
        <a href="">Forgot password?</a>
      </div>
      <div class="row">
        <p>Or login via popular providers.</p>
        <button class="facebook"></button>
      </div>
    </form>
    <footer>
      <button class="lined" data-action="cancel">Cancel</button>
      <button class="solid" data-action="submit">Log in</button>
    </footer>
  </section>
</body>
</html>